/* NOTES =======================================================================
================================================================================
/*
  1920x1080 streams should use the dimensions:
    width:  300px
    height: 700px
*/

/* CREDITS =====================================================================
============================================================================= */

/**
* @file Twitch Popout Chat BrowserSource stylesheet for use with OBS. The
        latest version can always be found at the following url:
        https://bitbucket.org/Frosthaven/youtube-chat-obs-styles/
* @author Frosthaven @thefrosthaven
* @todo Complete donation message styling
*/

/* USER CONFIG =================================================================
============================================================================= */

/* Load Google Font (Optional) -------------------------------------------------
    Use any import command for fonts at https://fonts.google.com
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* Set Page Font ---------------------------------------------------------------
  font-family can be any font installed on your computer or one that you
  imported from above
*/
.message,
.from {
  font-family: "Montserrat";
  font-size:28px;
  line-height:25px;
  letter-spacing:2px;
  font-weight:normal !important;
}

.from {
  font-size:20px;
  line-height:20px;
  padding:8px !important;
}

/* Colors ----------------------------------------------------------------------
    color settings can be in one of the following formats:
    - hex  - color: #ffffff;
    - rgb  - color: rgb(255,255,255);
    - rgba - color: rgba(255,255,255,1);

    If you want an interactive rgba color picker, try this url:
    http://www.css3maker.com/css-3-rgba.html
*/

/* Message Text Color */
.message {
  color:#d3d7da !important;
  font-size:22px;
  line-height:26px;
}

/* User Name Color */
.from {
  /* color: #6b6e71 !important; */
  font-size:16px;
  line-height:16px;
}
.from[style="color:#0000FF"] {
    color:#7777FF !important;
}
.from[style="color:#B22222"] {
    color:#B77777 !important;
}
.from[style="color:#008000"] {
    color:#00a900 !important;
}
.from[style="color:#8A2BE2"] {
    color:#9d69ce !important;
}
.from[style="color:#005E80"] {
    color:#00bbff !important;
}

/* Chat Animations (In & Out) */
.message-line {
  position:relative;
  padding-left:10px;
  padding-bottom:10px;
  border-radius:2px;
  animation: cardIn 8s;
  background-color: rgba(23,27,30,.85);
  border:1px solid rgba(255,255,255,0.1);
  perspective: 1000px;
  opacity:0;
}

@keyframes cardIn {
  0% {
    opacity:0;
    transform:scale(0);
    max-height:0;
  } 2% {
    transform:scale(1);
  } 8% {
    opacity:1;
    max-height:9999px;
  } 92% {
    opacity:1;
  } 98% {
    transform:scale(1);
  } 100% {
    opacity:0;
    transform:scale(0);
  }
}

/* only show the last 4 messages at a time */
.message-line {
  display:none !important;
}
.message-line:nth-last-child(-n+5) {
  display:list-item !important;
}

/* ADVANCED ====================================================================
============================================================================= */

/* Transparency And Borderless */
body {
  margin: 0px auto; overflow: hidden;
}
body, .ember-chat-container {
  background:rgba(0,0,0,0) !important;
}

/* Hide Scrollbar */
* ::-webkit-scrollbar, .tse-scrollbar, .drag-handle {
  width: 0 !important;
  opacity: 0 !important;
}
* {
  overflow: hidden !important;
}

/* Stay Scrolled To Bottom At All Times */
.chat-lines {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  padding-top:3px !important; /* needed so that first message doesnt get clipped */
}

/* Hide Chat Elements */
.chat-header,
.chat-interface,
.timestamp,
.colon,
.mod-icons,
.message-line.admin
{
  display:none !important;
}

/* Messages Appear Under Author Name Instead Of Beside It */
.from {
  width:100vw;
  display:block;
  padding:8px 0px;
  padding-right: 70px !important;
} .message-line {
  display:block;
  padding:5px 10px;
  padding: 0px 12px 12px 12px;
}

/* Reposition Badges */
.badges {
  position: absolute;
  top: 5px;
  right: 3px;
  float:none !important;
}

/* Minimize Chat Padding */
.chat-room {
  top:0 !important;
} .message-line {
  padding:0 !important;
} .chat-lines {
  padding:0 !important;
  padding-top:3px !important;
} .message {
  display: block;
  margin: 8px;
  margin-top: 0px;
}

/* Space Between Message Blocks */
.message-line {
  margin-bottom:8px !important;
}

/* Pretty Chat Panels */
.message-line {
  border-radius: 2px;
}
