/* NOTES =======================================================================
================================================================================
/*
  1920x1080 streams should use the dimensions:
    width:  300px
    height: 994px
*/

/* CREDITS =====================================================================
============================================================================= */

/**
* @file Youtube Popout Chat BrowserSource stylesheet for use with OBS. The
        latest version can always be found at the following url:
        https://bitbucket.org/Frosthaven/youtube-chat-obs-styles/
* @author Frosthaven @thefrosthaven
* @todo Complete donation message styling
*/

/* USER CONFIG =================================================================
============================================================================= */

/* Load Google Font (Optional) -------------------------------------------------
    Use any import command for fonts at https://fonts.google.com
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* Set Page Font ---------------------------------------------------------------
  font-family can be any font installed on your computer or one that you
  imported from above
*/
#items #message,
#items #author-name,
#items .mention.yt-live-chat-text-message-renderer {
  font-family: "Montserrat";
  font-size:28px;
  line-height:25px;
  letter-spacing:2px;
}

#items #author-name {
  font-size:20px;
  line-height:20px;
}

/* Colors ----------------------------------------------------------------------
    color settings can be in one of the following formats:
    - hex  - color: #ffffff;
    - rgb  - color: rgb(255,255,255);
    - rgba - color: rgba(255,255,255,1);

    If you want an interactive rgba color picker, try this url:
    http://www.css3maker.com/css-3-rgba.html
*/

/* Message Text Color */
#items #message.yt-live-chat-text-message-renderer {
  color:#d3d7da;
  font-size:22px;
  line-height:26px;
}

/* User Name Color */
#items #author-name {
  color: #d3d7da;
  font-size:16px;
  line-height:16px;
}

/* Owner Name & Text Color */
#items #author-name[type='owner'].yt-live-chat-text-message-renderer,
#items .yt-live-chat-author-badge-renderer-0[type='owner'] {
  color:#cf414d;
}

/* Moderator Name Color */
#items #author-name[type='moderator'].yt-live-chat-text-message-renderer,
#items .yt-live-chat-author-badge-renderer-0[type='moderator'] {
  color:#769fff;
}

/* Chat Animations (In & Out) */
#items yt-live-chat-text-message-renderer {
  position:relative;
  padding-left:10px;
  padding-bottom:10px;
  border-radius:2px;
  animation: cardIn 6s;
  background-color: rgba(23,27,30,1);
  border:1px solid rgba(255,255,255,0.1);
  perspective: 1000px;
}

@keyframes cardIn {
  0% {
    opacity:0;
    transform:scale(0);
    max-height:0px;
  } 2% {
    transform:scale(1);
  } 8% {
    opacity:1;
    max-height:9999px;
  } 100% {
    opacity:1;
  }
}

/* ADVANCED ====================================================================
============================================================================= */

/* Transparency And Borderless */
body {
  margin: 0px auto; overflow: hidden;
}
body, yt-live-chat-renderer, #content-pages, #chat-messages {
  background:rgba(0,0,0,0) !important;
}

/* Hide Scrollbar */
* ::-webkit-scrollbar {
  width: 0 !important;
  opacity: 0 !important;
}
* {
  overflow: hidden !important;
}

/* Stay Scrolled To Bottom At All Times */
#items {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}

/* Hide Chat Elements */
yt-live-chat-pinned-message-renderer,
yt-live-chat-ticker-renderer,
yt-live-chat-ticker-paid-message-item-renderer,
#action-panel,
yt-live-chat-header-renderer,
#author-photo,
#show-more,
yt-live-chat-text-message-renderer #menu {
  display:none !important;
}

/* Move badges to the top right */
#image yt-icon {
  position:absolute !important;
  top:10px;
  right:10px;
}

/* Messages Appear Under Author Name Instead Of Beside It */
#author-name {
  display:inline-block;
  margin-right:30px;
  margin-top:4px;
  padding:8px;
  margin-bottom:4px;
} #items #message.yt-live-chat-text-message-renderer {
  display:block;
  padding:5px 10px;
  padding: 0px 12px 12px 12px;
}

/* Minimize Chat Padding */
#items, .yt-live-chat-text-message-renderer-0 {
  padding:0 !important;
}

/* Remove Link Decorations */
#items a.yt-live-chat-text-message-renderer {
  text-decoration: none;
}

/* Space Between Message Blocks */
#items yt-live-chat-text-message-renderer {
  margin-bottom:8px;
}

/* Pretty Chat Panels */
#items yt-live-chat-text-message-renderer {
  border-radius: 2px;
}
